<div class="container mt-3">
    <div class="card">
        <div class="card-body ">
            <div class="d-flex align-items-center">
                <div class="flex-grow-1 ms-3">
                  <h5 style="text-align: center; font-family: 'Oswald';">
                    <img src="https://img.icons8.com/color/32/000000/nasa.png"/>
                     Seja bem-vindo(a) a API da Nasa
                </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img  style="width: 285px; height: 215px;" src="https://i.pinimg.com/originals/54/d0/3d/54d03d4909be49014d3e84bdb349f686.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ver imagem de hoje</h5>
              <p class="card-text">Todo dia a nasa publica uma foto no APOD deles, veja a de hoje.</p>
              <a [routerLink]="['/list-options/api/nasa/api-result/photo-today']" class="btn btn-success">Ver foto de Hoje</a>
            </div>
        </div>
      </div>
      <div class="col order-5">
        <div class="card" style="width: 18rem;">
            <img style="width: 285px; height: 215px;" src="https://img.ibxk.com.br/2015/07/29/29133535923742.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ver imagem da data X</h5>
              <p class="card-text">Selecione uma data para ver a foto tirada neste dia.</p>
              <mat-form-field appearance="fill">
                <mat-label>Data:</mat-label> 
                <input matInput [(ngModel)]="date" [matDatepicker]="datepicker">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
              </mat-form-field>
              <a [routerLink]="['/list-options/api/nasa/api-result/photo-by-id']" (click)="convertDate()" class="btn btn-success">Ver foto</a>
            </div>
        </div>
      </div>
      <div class="col order-1">
        <div class="card" style="width: 18rem;">
            <img  style="width: 285px; height: 215px;" src="https://www.nasa.gov/images/content/684581main_pia15699-43_946-710.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Veja 5 fotos aleatorias</h5>
              <p class="card-text">Clique no botão para ver cinco fotos aleatorios do banco da nasa.</p>
              <a [routerLink]="['/list-options/api/nasa/api-result/five-photo']" class="btn btn-success">Ver cinco fotos</a>
            </div>
        </div>
      </div>
    </div>
</div>
